* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  max-width: 1366px;
  width: 63%;
  margin: auto;
}

.section {
  padding-top: 100px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: inherit;
}

.col-20 {
  width: 20%;
}

.col-30 {
  width: 30%;
}

.col-33 {
  width: 33%;
}

.col-40 {
  width: 40%;
}

.col-50 {
  width: 50%;
}

.col-60 {
  width: 60%;
}

.col-70 {
  width: 70%;
}

.col-80 {
  width: 80%;
}

body {
  font-family: 'Lato', sans-serif;
}

* {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'Muller Medium';
  src: url("../fonts/MullerMedium.woff") format("woff"), url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller Light';
  src: url("../fonts/MullerLight.woff") format("woff"), url("../fonts/MullerLight.woff2") format("woff2"), url("../fonts/MullerLight.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller Bold';
  src: url("../fonts/MullerBold.woff") format("woff"), url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1, h2, h3, h4, h5, p, a {
  color: #252525 !important;
  font-family: 'Muller Medium';
}

img {
  max-width: 100%;
}

@media screen and (max-width: 1640px) {
  .container {
    width: 90%;
  }
  .header {
    overflow: hidden;
  }
}

@media screen and (max-width: 1300px) {
  .header {
    height: 696px !important;
  }
  .header-bottom__content {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .header-main__title {
    margin-top: 73px !important;
    font-size: 45px !important;
    line-height: 66px !important;
  }
  .header-main__proposal {
    display: none;
  }
  .header-main__card {
    display: none;
  }
  #hidden-card {
    display: block !important;
  }
}

@media screen and (max-width: 1049px) {
  .container {
    width: 96%;
  }
  .header {
    background: url("../img/header-bg2.jpg") center/cover no-repeat !important;
  }
  .header-bottom__slider {
    overflow-x: scroll;
  }
  .header-main__button {
    padding-left: 46px !important;
    padding-top: 40px !important;
  }
  .header-main__list {
    padding-top: 9px !important;
    padding-left: 32px !important;
  }
  .header-main__map {
    top: -80px !important;
    right: 50px !important;
  }
  .header-main__map__title {
    top: -10px !important;
    right: 255px !important;
  }
  .header-main__map__image {
    display: none !important;
  }
  .header-main__map__image2 {
    display: block !important;
  }
  .header-top__list__logo__title {
    margin-left: 12px !important;
  }
  .header-top__list__item-phone {
    margin-right: 0 !important;
  }
  .header-top__list__item-pdf {
    display: none !important;
  }
}

@media screen and (max-width: 720px) {
  .header-main__map {
    display: none;
  }
  .header-main__map__title {
    display: none;
  }
  .header-top__list__item-burger-menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .header-top__list__item-phone {
    display: none !important;
  }
  .header-top__list__item-mobilePhone {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media screen and (max-width: 500px) {
  .header {
    height: 973px !important;
    background: url("../img/header-bg3.jpg") center/cover no-repeat !important;
  }
  .header-bottom__slider {
    margin-left: 31px;
    margin-top: -240px !important;
  }
  .header-bottom__proposal {
    display: none;
  }
  .header-top__list {
    padding-top: 6px !important;
  }
  .header-top__list__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .header-top__list__logo__title {
    margin-top: 16px !important;
  }
  .header-main__proposal2 {
    display: block !important;
  }
  .header-main__proposal2__swipe {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .header-main__button {
    padding: 0 !important;
  }
  .header-main__button__btn {
    padding: 22px 28px !important;
    margin-top: 46px;
    letter-spacing: 1.2px;
    font-size: 11px !important;
    margin-left: 20px;
  }
  .header-main__list {
    padding-top: 21px !important;
    padding-left: 22px !important;
  }
  .header-main__list__text {
    max-width: 244px;
  }
  .header-main__title {
    margin-top: 108px !important;
    text-align: center !important;
    font-size: 31px !important;
    line-height: 46px !important;
  }
}

.header {
  z-index: -1;
  height: 830px;
  background: url("../img/header-bg.png") center no-repeat;
}

.header-bottom {
  position: relative;
}

.header-bottom__slider {
  margin-top: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-bottom__content {
  display: none;
}

.header-bottom__proposal {
  min-width: 220px;
  max-width: 220px;
  margin-top: 61px !important;
  margin-left: 31px !important;
}

.header-bottom__proposal__swipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 39px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom__proposal__swipe__text {
  -webkit-transition: .4s;
  transition: .4s;
  margin-left: 16px;
  font-family: 'Muller Light';
  font-size: 15px;
  color: #909090;
  text-decoration: none;
}

.header-bottom__proposal__swipe__bullet {
  -webkit-transition: .4s;
  transition: .4s;
  min-width: 8px;
  min-height: 8px;
  border-radius: 50%;
  background-color: #ddddde;
}

.header-bottom__proposal__swipe__bullet--active {
  min-width: 12px !important;
  min-height: 12px !important;
  background-color: #f6db24;
}

.header-bottom__proposal__swipe__bullet:first-of-type {
  margin-right: 8px;
}

.header-bottom__proposal__text {
  color: #636363;
  line-height: 24px;
  font-size: 18px;
  font-family: 'Muller Light';
}

.header-bottom__proposal__text--bold {
  font-family: 'Muller Bold' !important;
}

.header-bottom__card {
  -webkit-transition: .4s;
  transition: .4s;
  min-width: 250px;
  height: 330px;
  text-align: center;
}

.header-bottom__card:nth-of-type(1) {
  background: url("../img/header-card-1.png") 0px no-repeat;
}

.header-bottom__card:nth-of-type(2) {
  background: url("../img/header-card-2.png") 0px no-repeat;
}

.header-bottom__card:nth-of-type(3) {
  background: url("../img/header-card-3.png") 0px no-repeat;
}

.header-bottom__card__text {
  margin-left: 55px;
  margin-top: 100px;
  font-family: 'Muller Light';
  font-size: 13px;
  line-height: 19px;
  max-width: 150px;
  text-transform: uppercase;
}

.header-bottom__card__text--bold {
  font-family: 'Muller Bold' !important;
}

.header-main {
  position: relative;
}

.header-main__proposal2 {
  display: none;
  max-width: 320px;
  margin-top: 40px;
  text-align: center;
}

.header-main__proposal2__swipe {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main__proposal2__swipe__text {
  -webkit-transition: .4s;
  transition: .4s;
  margin-left: 16px;
  font-family: 'Muller Light';
  font-size: 15px;
  color: #909090;
  text-decoration: none;
}

.header-main__proposal2__swipe__bullet {
  -webkit-transition: .4s;
  transition: .4s;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ddddde;
}

.header-main__proposal2__swipe__bullet--active {
  min-width: 12px !important;
  min-height: 12px !important;
  background-color: #f6db24;
}

.header-main__proposal2__swipe__bullet:nth-of-type(2) {
  margin: 0 8px;
}

.header-main__proposal2__text {
  text-align: center;
  -webkit-transition: .4s;
  transition: .4s;
  font-family: 'Muller Light';
  font-size: 17px;
  color: #909090;
  text-decoration: none;
}

.header-main__proposal2__text--bold {
  font-family: 'Muller Bold' !important;
}

.header-main__map {
  -webkit-transition: .4s;
  transition: .4s;
  position: absolute;
  top: -35px;
  right: -75px;
}

.header-main__map__image2 {
  display: none;
}

.header-main__map__title {
  position: absolute;
  top: 25px;
  right: 210px;
  max-width: 150px;
  text-align: left;
}

.header-main__map__text {
  font-family: 'Muller Light';
  font-size: 15px;
  line-height: 18px;
}

.header-main__proposal {
  position: absolute;
  top: 12px;
  line-height: 22px;
  left: 324px;
  max-width: 350px;
  font-size: 19px;
}

.header-main__proposal__text {
  font-family: 'Muller Light';
}

.header-main__proposal__text--bold {
  font-family: 'Muller Bold' !important;
}

.header-main__card {
  position: absolute;
  width: 280px;
  height: 330px;
  text-align: center;
}

.header-main__card__text {
  margin-left: 55px;
  margin-top: 100px;
  font-family: 'Muller Light';
  font-size: 13px;
  line-height: 19px;
  max-width: 150px;
  text-transform: uppercase;
}

.header-main__card__text--bold {
  font-family: 'Muller Bold' !important;
}

.header-main__card:nth-of-type(5) {
  background: url("../img/header-card-3.png") 0px no-repeat !important;
  right: -40px;
  bottom: -100px;
}

.header-main__card:nth-of-type(3) {
  background: url("../img/header-card-1.png") 0px no-repeat !important;
  bottom: 22px;
  left: 380px;
}

.header-main__card:nth-of-type(4) {
  background: url("../img/header-card-2.png") 0px no-repeat !important;
  bottom: 130px;
  left: 560px;
  z-index: 9;
}

.header-main__button {
  -webkit-transition: .4s;
  transition: .4s;
  padding-left: 20px;
  padding-top: 50px;
}

.header-main__button__btn {
  cursor: pointer;
  padding: 28px 28px;
  border-radius: 10px;
  border: none;
  font-size: 15.2px;
  line-height: 20px;
  font-family: 'Muller Light';
  color: #ffffff !important;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-20%, #ff0024), to(#ff8571));
  background: linear-gradient(0deg, #ff0024 -20%, #ff8571 100%);
  -webkit-box-shadow: 0px 4px 0px 0px rgba(236, 37, 0, 0.004), inset 0px -3px 4px 0px rgba(249, 71, 81, 0.004);
          box-shadow: 0px 4px 0px 0px rgba(236, 37, 0, 0.004), inset 0px -3px 4px 0px rgba(249, 71, 81, 0.004);
}

.header-main__button__btn--bold {
  font-family: 'Muller Bold' !important;
}

.header-main__list {
  -webkit-transition: .4s;
  transition: .4s;
  padding-top: 24px;
  padding-left: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

.header-main__list__text {
  font-size: 19px;
  line-height: 22px;
}

.header-main__list__text--bold {
  font-family: 'Muller Medium' !important;
}

.header-main__list__text:first-of-type {
  margin-top: -1px;
}

.header-main__list__bullet {
  max-width: 9px;
  max-height: 9px;
  margin-right: 14px;
}

.header-main__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.header-main__list__item:last-of-type {
  margin-bottom: 0;
}

.header-main__list__item:first-of-type {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main__title {
  -webkit-transition: .4s;
  transition: .4s;
  margin-top: 100px;
  text-align: left;
  font-size: 50px;
  line-height: 69px;
  letter-spacing: 1.6px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'Muller Light';
}

.header-main__title--bold {
  font-family: 'Muller Medium';
}

.header-top {
  height: 60px;
}

.header-top__list {
  padding-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.header-top__list__burger-menu {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 28px;
  max-height: 22px;
}

.header-top__list__burger-menu__line {
  position: relative;
  width: 26px;
  height: 2px;
  background-color: #222532;
}

.header-top__list__burger-menu__line::after, .header-top__list__burger-menu__line::before {
  position: absolute;
  content: '';
  width: 26px;
  height: 2px;
  background-color: #222532;
}

.header-top__list__burger-menu__line::after {
  top: 8px;
}

.header-top__list__burger-menu__line::before {
  top: -8px;
}

.header-top__list__phone {
  margin-top: 10px;
}

.header-top__list__phone__title {
  max-width: 200px;
  text-align: right;
}

.header-top__list__phone__title__text {
  font-family: 'Muller Light';
  font-size: 14px;
  color: #717171 !important;
}

.header-top__list__phone__title__text--bold {
  font-family: 'Muller Medium';
  color: #717171 !important;
}

.header-top__list__phone__link {
  font-size: 25px;
  text-decoration: none;
}

.header-top__list__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__list__logo__title {
  margin-top: auto;
  font-weight: 300;
  font-size: 16px;
  color: #717171 !important;
  max-width: 190px;
  line-height: 20px;
  margin-left: 28px;
}

.header-top__list__item-burger-menu {
  margin-left: 7px;
  margin-top: 16px;
  display: none;
}

.header-top__list__item-mobilePhone {
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 37px;
  max-height: 37px;
  display: none;
}

.header-top__list__item-pdf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__list__item-phone {
  margin-right: 34px;
}

.header-top__list__pdf {
  margin-top: 18px;
}

.header-top__list__pdf-title {
  margin-left: 20px;
  max-width: 237px;
  margin-top: 18px;
}

.header-top__list__pdf-title__text {
  margin-top: 4px;
  vertical-align: middle;
  font-size: 17px;
  font-family: 'Muller Light';
}

.header-top__list__pdf-title__text--bold {
  font-family: 'Muller Medium';
}

.header-top__list__pdf-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 32px;
}

.header-top__list__pdf-size {
  text-align: center;
  margin-top: 5px;
  font-size: 9px;
  text-transform: uppercase;
  font-family: 'Muller Light';
}

#hidden-card {
  display: none;
}
/*# sourceMappingURL=main.css.map */