@font-face {
  font-family: 'Muller Medium';
  src:
    url('../fonts/MullerMedium.woff') format('woff'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Muller Light';
  src:
    url('../fonts/MullerLight.woff') format('woff'),
    url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Muller Bold';
  src:
    url('../fonts/MullerBold.woff') format('woff'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}