@font-face {
  font-family: 'Intro Book';
  src:
    url('../fonts/IntroBook.woff') format('woff'),
    url('../fonts/IntroBook.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Intro Bold';
  src:
    url('../fonts/IntroBold.woff') format('woff'),
    url('../fonts/IntroBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}