img 
  max-width: 100%


.button
  padding: 20px 35px 
  color: $light 
  font-family: 'Intro Bold', sans-serif 
  font-size: 14px
  text-transform: uppercase
  border-radius: 5px
  background-color: $blue
  border: none
  outline: none
  cursor: pointer
  transition: .3s
  
